<md-table #table [dataSource]="dataSource">
  <!-- ID Column -->
  <ng-container cdkColumnDef="course">
    <md-header-cell *cdkHeaderCellDef> Kurs</md-header-cell>
    <md-cell *cdkCellDef="let row"> {{row.course}}</md-cell>
  </ng-container>

  <ng-container cdkColumnDef="author">
    <md-header-cell *cdkHeaderCellDef> Person</md-header-cell>
    <md-cell *cdkCellDef="let row"> {{row.author}}</md-cell>
  </ng-container>

  <!-- Progress Column -->
  <ng-container cdkColumnDef="content">
    <md-header-cell style="flex-grow: 2;" *cdkHeaderCellDef> Text</md-header-cell>
    <md-cell style="flex-grow: 2;padding-right:14px" *cdkCellDef="let row">{{row.content}}</md-cell>
  </ng-container>

  <ng-container cdkColumnDef="action">
    <md-header-cell style="flex-grow: 0;" *cdkHeaderCellDef> Aktion</md-header-cell>
    <md-cell style="flex-grow: 0;" *cdkCellDef="let row">
      <button md-icon-button class="red lighten-2 white-text" style="width :2em;height:2em; line-height: 0"
              (click)="remove(row)">
        <md-icon style="font-size: 1.3em">close</md-icon>
      </button>
    </md-cell>
  </ng-container>
  <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
  <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>

</md-table>

<div class="center section">
  <button md-icon-button class="light-green white-text" (click)="create()">
    <md-icon>add</md-icon>
  </button>
</div>

