nav {
  width: 100%;
  height: auto;
  line-height: 56px;
  margin-bottom: 25px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
  width: 100%;
  background-color: rgb(103, 58, 183);
  justify-content: center;

  .logo {
    height: 26px;
    margin: 0 4px 3px 0;
    vertical-align: middle;
  }
}

.flex-spacer {
  flex-grow: 1;

  @media only screen and (max-width: 500px) {
    flex-grow: 0;
  }
}

